{% extends 'polls/header.html' %}

{% block content %}
    {% if error %}
        <h3 align="center" style="background-color: red">{{message}}</h3>
    {% else %}
        <h3 align="center">{{message|safe}}</h3>
    {% endif %}
{% endblock %}
