{% extends 'polls/header.html' %}

{% block content %}
    <h3 align="center">Create New Poll</h3>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Create</button>
	</form>
{% endblock %}
