{% extends 'polls/header.html' %}

{% block content %}
    <style type="text/css">
        th {
            text-align: center;

            background-color: #4CAF50;
            color: white;
        }
        th, td {
            padding: 8px;
        }
        tr:nth-child(even){background-color: #f2ffff}
    </style>
    <table>
        <tr>
            <th>S. No</th>
            <th>Date</th>
            <th>Question</th>
            {% for i in choice_max_count %}
                <th>Choice {{forloop.counter}}</th>
            {% endfor %}
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{forloop.counter}}</td>
                    <td>{{question.published_date| date:"M-d-Y"}}</td>
                    <td><a href="/polls/{{question.id}}"> {{question.question_text}}</a></td>
                    {% for choice in choices %}
                        {% if choice.question_id == question.id %}
                            <td>{{choice.choice_text}} - {{choice.votes}}</td>
                        {% endif %}
                    {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
