{% extends 'polls/header.html' %}

{% block content %}

    <style type="text/css">
        ul li {
        list-style: none;
        }
    </style>

    <h3 align="center">{{question.question_text}}</h3>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Submit</button>
	</form>
{% endblock %}
